/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.07.2017, 0:56:07
    Author     : User
*/
#authoriz{
    height: 30%;
    width: 30%;
    margin: 35% auto;
    background-color: red;
}
